body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  /* Fondo bonito: degradado vertical suave */
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
}

form {
  background-color: #fff;
  padding: 20px;
  width: 400px; /* Fijamos el ancho directamente */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.success {
  color: green;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

.error {
  margin-top: 5px;
  font-size: 1rem;
  text-align: center;
}
